@page
@model LucrareFinalaCA.MyArticles
@{
    ViewData["Title"] = "GetMyArticlesTest";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>GetMyArticlesTest</h2>

<hr />
<h2>Edited by me</h2>

<div style="background:border-box,#ffffff">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Issue Date</th>
                <th>Edited Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.EditedArticles)
            {
                <tr>
                    <td>
                        <a href="/Article/@article.Id">@article.Title</a>
                    </td>
                    <td>
                        @article.IssueDate
                    </td>
                    <td>
                        @if (@article.EditedDate != null)
                        {
                            @article.EditedDate;
                        }
                        else
                        {
                            <p>
                                Not edited yet.
                            </p>
                        }
                    </td>
                    <td>
                        @if (article.Author == User.Identity.Name || User.IsInRole(Constants.ArticleAdministratorsRole) || User.IsInRole(Constants.ArticleEditorRole))
                        {
                            <a href="/EditArticle/@article.Id">Edit</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Created by me</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Issue Date</th>
                <th>Edited Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.AuthorArticles)
            {
                <tr>
                    <td>
                        <a href="/Article/@article.Id">@article.Title</a>
                    </td>
                    <td>
                        @article.IssueDate
                    </td>
                    <td>
                        @if (@article.EditedDate != null)
                        {
                            @article.EditedDate;
                        }
                        else
                        {
                            <p>
                                Not edited yet.
                            </p>
                        }
                    </td>
                    <td>
                        @if (article.Author == User.Identity.Name || User.IsInRole(Constants.ArticleAdministratorsRole) || User.IsInRole(Constants.ArticleEditorRole))
                        {
                            <a href="/EditArticle/@article.Id">Edit</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


